.divicion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding:  20px;  
    background-color:#610B0B;
  }

  .con1{
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 20%;
    min-width: 500px;
    height: 250px;
    border-radius: 15px;
    border: 1px solid rgb(0, 0, 0);
   
  }

  .marcontainer{
    max-width: 200px;
    max-height: 180px;
 }

 .fondo{
    background-color: rgb(255, 255, 255);
  
}

.be5{
  width: 200px;
  height: 20px;
}